@page "/"
@inject INotificationService NotificationService

<PageTitle>Blamato - Helping track your time</PageTitle>

<div class="container mb-5">

    @*   <Timer Duration="19"
        OnTimerCompleted="ClientTimerCompleted" />*@

    @if (showRunningTimer)
    {
        <Countdown Duration="14"
               TextColor="TextColor.Primary"
               ProgressBarColor="Color.Primary"
               TimerDescription="lets work"
               OnTimerCompleted="workingTimerCompleted"
               WorkingTimer="true"
               @ref="workingTimer" />
    }
    else
    {
        <Countdown Duration="10"
               TextColor="TextColor.Dark"
               ProgressBarColor="Color.Dark"
               TimerDescription="deserved rest"
               OnTimerCompleted="restingTimerCompleted"
               WorkingTimer="false"
               @ref="restingTimer" />
    }

    <MotivationCards />

    <AmbientSounds />

    <ModalSaveTime @ref="modalSave" />
</div>

@code {
    private Countdown workingTimer;
    private Countdown restingTimer;
    private ModalSaveTime modalSave;

    protected override void OnAfterRender(bool firstRender)
    {
        //modalSave.ShowModal();
    }

    private bool showRunningTimer = true;

    private async Task workingTimerCompleted(string value)
    {
        Console.WriteLine(value + " --  WORK DONE");

        showRunningTimer = !showRunningTimer;

        modalSave.TimeSpent = value;
        modalSave.ShowModal();
        await Task.Delay(2000);


        //restingTimer.StartTimer();
    }
    private async Task restingTimerCompleted(string value)
    {
        Console.WriteLine(value + " --  RESTING GOTOV");
        showRunningTimer = !showRunningTimer;
        await Task.Delay(2000);

        //workingTimer.StartTimer();

    }

    [CascadingParameter] Theme Theme { get; set; }
    private string getRandColor()
    {
        Random rnd = new Random();
        string hexOutput = String.Format("{0:X}", rnd.Next(0, 0xFFFFFF));
        while (hexOutput.Length < 6)
            hexOutput = "0" + hexOutput;


        return "#" + hexOutput;
    }
    Task OnThemeColorChanged()
    {

        string value = getRandColor();


        if (Theme?.ColorOptions != null)
            Theme.ColorOptions.Primary = value;

        if (Theme?.BackgroundOptions != null)
            Theme.BackgroundOptions.Primary = value;


        Theme.ThemeHasChanged();

        return Task.CompletedTask;
    }

}