@page "/"

<PageTitle>Blamato - Helping track your time</PageTitle>

<Timer></Timer>


<div class="container">
               <div class="row">
                        <SoundCard 
                ImageUrl="https://images.unsplash.com/photo-1428592953211-077101b2021b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
                AudioLocation="assets/rain1.wav"
                AudioTag="rain1"
                />


                  <SoundCard 
                ImageUrl="https://images.unsplash.com/photo-1517594422361-5eeb8ae275a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                AudioLocation="assets/fire.wav"
                AudioTag="fire1"
                />


                
                <SoundCard 
                ImageUrl="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=734&q=80"
                AudioLocation="assets/beach.wav"
                AudioTag="beach1"
                />
               </div>



</div>
<ModalTest/>


@code {
   
}