<div class="row gx-1 gy-1">
    <div class="col-6 col-md-3 col-xl-3">
        <SoundCard ImageUrl="assets/icons/rain.png"
                   AudioLocation="assets/rain1.wav"
                   AudioTag="rain" />

    </div>

    <div class="col-6 col-md-3 col-xl-3">
        <SoundCard ImageUrl="assets/icons/fire.png"
                   AudioLocation="assets/fire2.mp3"
                   AudioTag="fire" />

    </div>


    <div class="col-6 col-md-3 col-xl-3">
        <SoundCard ImageUrl="assets/icons/wind.png"
                   AudioLocation="assets/wind.wav"
                   AudioTag="wind" />

    </div>

    <div class="col-6 col-md-3 col-xl-3">
        <SoundCard ImageUrl="assets/icons/grass.png"
                   AudioLocation="assets/grass.wav"
                   AudioTag="grass" />

    </div>
</div>


