

<div class=" pt-2 pb-4">
	<div class="row row-cols-1 row-cols-md-1 justify-content-center row-cols-lg-3 py-4 g-4 counter-1">
		<div class="col">
			<div class="card card-body shadow">
				<div class="d-inline-flex align-items-center" style="min-height:128px">
					<div class="me-2">
						<div class="bg-light p-3 rounded-circle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="" width="2em" height="2em" viewBox="0 0 24 24" style="" lc-helper="svg-icon" fill="currentColor">
								<path d="M4,2A1,1 0 0,0 3,3V4A1,1 0 0,0 4,5H5V14H11V16.59L6.79,20.79L8.21,22.21L11,19.41V22H13V19.41L15.79,22.21L17.21,20.79L13,16.59V14H19V5H20A1,1 0 0,0 21,4V3A1,1 0 0,0 20,2H4Z"></path>
							</svg>
						</div>
					</div>
					<div>
						<span class="fw-bold display-5 mb-5" data-vanilla-counter="" data-start-at="0" data-end-at="125" data-time="1000" data-delay="60" data-format="{}">3</span>
						<p class="lead" editable="inline"><span><b>hours</b></span> of work done today</p>
					</div>
				</div>
			</div>
		</div>
	


		<div class="col">
			<div class="card card-body shadow">
				<div class="d-inline-flex align-items-center" style="min-height:128px">
					<div class="me-2">
						<div class="bg-light p-3 rounded-circle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="" width="2em" height="2em" viewBox="0 0 24 24" style="" lc-helper="svg-icon" fill="currentColor">
								<path d="M4,2A1,1 0 0,0 3,3V4A1,1 0 0,0 4,5H5V14H11V16.59L6.79,20.79L8.21,22.21L11,19.41V22H13V19.41L15.79,22.21L17.21,20.79L13,16.59V14H19V5H20A1,1 0 0,0 21,4V3A1,1 0 0,0 20,2H4Z"></path>
							</svg>
						</div>
					</div>
					<div>
						<span class="fw-bold display-5 mb-5" data-vanilla-counter="" data-start-at="0" data-end-at="125" data-time="1000" data-delay="60" data-format="{}">12</span>
						<p class="lead" editable="inline"><span><b>hours</b></span> this month</p>
					</div>
				</div>
			</div>
		</div>



		

		<div class="col">
			<div class="card card-body shadow">
				<div class="d-inline-flex align-items-center" style="min-height:128px" >
					<div class="me-2">
						<div class="bg-light p-3 rounded-circle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="" width="2em" height="2em" viewBox="0 0 24 24" style="" lc-helper="svg-icon" fill="currentColor">
								<path d="M4,2A1,1 0 0,0 3,3V4A1,1 0 0,0 4,5H5V14H11V16.59L6.79,20.79L8.21,22.21L11,19.41V22H13V19.41L15.79,22.21L17.21,20.79L13,16.59V14H19V5H20A1,1 0 0,0 21,4V3A1,1 0 0,0 20,2H4Z"></path>
							</svg>
						</div>
					</div>
					<div>
						<span class="fw-bold display-5 mb-5" data-vanilla-counter="" data-start-at="0" data-end-at="125" data-time="1000" data-delay="60" data-format="{}">7</span>
						<p class="lead" editable="inline"><span><b>Blazor</b></span> timers</p>
					</div>
				</div>
			</div>
		</div>





	</div>
</div>
