@inject ILocalStorageService _localStorage
@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager _navigationManager

  <nav class="navbar navbar-expand-lg navbar-light " aria-label="Ninth navbar example">
    <div class="container-xl">

        <a class="navbar-brand" href="#">
      <img src="/favicon-32x32.png" alt="" width="24" height="24" class="d-inline-block align-text-top">
      Blamato
    </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      @*<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">*@
      <div class="collapse navbar-collapse" id="navbarsExample07XL">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings">Settings</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-bs-toggle="dropdown" aria-expanded="false">User</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown07XL">



                <AuthorizeView>
            <Authorized>
                <a href="profile" class="dropdown-item">Profile</a>
                <hr />
                <button class="dropdown-item" @onclick="Logout">Logout</button>
            </Authorized>
            <NotAuthorized>
                <a href="registration" class="dropdown-item">Register</a>
                <a href="login?returnUrl=@_navigationManager.ToBaseRelativePath(_navigationManager.Uri)" class="dropdown-item">Login</a>
            </NotAuthorized>
        </AuthorizeView>


            </ul>
          </li>
        </ul>
      
      </div>
    </div>
  </nav>




  
@code {


    
    private async Task Logout()
    {
        await _localStorage.RemoveItemAsync("authToken");
        await _authenticationStateProvider.GetAuthenticationStateAsync();
        _navigationManager.NavigateTo("");

    }

    //private bool collapseNavMenu = true;

    //private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;




    //private void ToggleNavMenu()
    //{
    //    collapseNavMenu = !collapseNavMenu;
    //}
}