
<div class="container">
    <div class="py-4"> 
        
<audio id="player_rain" loop controls src="assets/rain1.wav"></audio>
<audio id="player_people" loop controls src="assets/people1.wav"></audio>
    </div>
</div>

@code {

}
